<header>
  <div class="navbar" id="navbar">
    <h2 class="logo">
      <a href="#"><span id="logo">BBP</span> Dashboard</a>
    </h2>
    <nav id="nav">
      <ul>
        <li><a href="#/">Schedule</a></li>
        <li><a href="#/">Escalations</a></li>
        <li><a href="#/">On Call</a></li>
      </ul>
    </nav>
  </div>
</header>
