<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
    <title>BBP Dashboard</title>
  </head>
  <body>
    <header>
      <div class="navbar" id="navbar">
        <h2 class="logo">
          <a href="#"><span id="logo">BBP</span> Dashboard</a>
        </h2>
        <nav id="nav">
          <ul>
            <li><a href="#/">Schedule</a></li>
            <li><a href="#/">Escalations</a></li>
            <li><a href="#/">On Call</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="dashboard">
        <section class="container">
          <div class="card">
            <div class="time">8:00 AM</div>
            <div class="provider-name-box">
              <h2 class="provider-name">Provider 1</h2>
            </div>

            <div class="card-details">
              <div class="card-detail-box">
                <span class="card-detail"><p>After Hours</p></span>
              </div>

              <div class="card-details">
                <div class="card-detail-box outage">
                  <a class="card-detail" href="">No Active Outages</a>
                </div>

                <div class="card-detail-box">
                  <a class="card-detail" href="">Links</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
